.border-auto {
  .btn-wrap {
    position: relative;
    padding: 0;
    width: 175.36px;
    overflow: hidden;
    .btn {
      position: relative;
      text-decoration: none;
      background: #0c002b;
      padding: 13.5px 50.75px;
      color: #1670f0;
      text-transform: uppercase;
      border: #1670f0 2px solid;
      font-size: 14px;
      font-weight: 500;
      box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
      &:before {
        position: absolute;
        content: "";
        top: 2px;
        left: 2px;
        bottom: 2px;
        width: 50%;
        background: rgba(12, 0, 43, 0.5);
      }
      &:hover{
        .btn-span1 {
          position: absolute;
          top: -2px;
          left: 0;
          width: 100%;
          height: 2px;
          background: linear-gradient(to right, #0c002b, #1779ff);
          animation: animation1 2s linear infinite;
        }
        @keyframes animation1 {
          0% {
            transform: translateX(-100%);
          }
          100% {
            transform: translateX(100%);
          }
        }
        .btn-span2 {
          position: absolute;
          top: 0;
          right: -2px;
          width: 2px;
          height: 100%;
          background: linear-gradient(to bottom, #0c002b, #1779ff);
          animation: animation2 linear 2s infinite;
          animation-delay: 1s;
        }
        @keyframes animation2 {
          to {
            transform: translateY(100%);
          }
          from {
            transform: translateY(-100%);
          }
        }
        .btn-span3 {
          position: absolute;
          right: 0;
          bottom: -2px;
          width: 100%;
          height: 2px;
          background: linear-gradient(to left, #0c002b, #1779ff);
          animation: animation3 linear 2s infinite;
        }
        @keyframes animation3 {
          0% {
            transform: translateX(100%);
          }
          100% {
            transform: translateX(-100%);
          }
        }
        .btn-span4 {
          position: absolute;
          bottom: 0;
          left: -2px;
          width: 2px;
          height: 100%;
          background: linear-gradient(to top, #0c002b, #1779ff);
          animation: animation4 linear 2s infinite;
          animation-delay: 1s;
        }
        @keyframes animation4 {
          to {
            transform: translateY(-100%);
          }
          from {
            transform: translateY(100%);
          }
        }
      }
    }
  }
}
