.button-wrap{
    max-width: 900px;
    margin: 0 auto;
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    .button-1{
        display: flex;
    }
    .button-2{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .button-3{
        display: flex;

    }
}

@media all and (max-width: 905px) {
    .button-wrap{
        padding: 0 8px;
        margin-top: 100px;
    }
  }
  @media all and (max-width: 710px) {
    .button-wrap{
        .button-1{
            .middle{
                .btn-wrap{
                    .btn{
                        margin-bottom: 8px;
                    }
                }
            }
        }
        .button-2 > div{
            margin-bottom: 8px;
        }
        .button-3{
            .button-ripple{
                .btn{
                    margin-bottom: 8px;
                }
            }
        }
    }
  }

  @media all and (max-width: 360px) {
    .button-1{
        .middle{
            .btn-wrap{
        justify-content: center !important;
            }
        }
    }
    .button-2{
        justify-content: center !important;
    }
    .button-3{
        .button-ripple{
            justify-content: center !important;
        }
    }
  }