.neon-button .btn {
  position: relative;
  background: #031321;
  padding: 15px 44px;
  text-transform: uppercase;
  text-decoration: none;
  overflow: hidden;
  color: #2196f3;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 2px;
  transition: all 0.6s linear;
}
.neon-button .btn:hover {
  color: #255784;
  background: #2196f3;
  box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3;
  transition-delay: 1s;
}
.neon-button .btn .btn-span1 {
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #2196f3);
}
