.button-ripple{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .btn{
        position: relative;
        padding: 14px 49.5px;
        background: none;
        border: 2px solid #3498db ;
        font-size: 14px;
        font-weight: 500;
        text-transform: uppercase;
        cursor: pointer;
        transition: all 0.6s ease ;
        overflow: hidden;
        &.btn1,&.btn2{
            color: #3498db;
        }
        &.btn3,&.btn4{
            color: #fff;
        }
        &:hover{
            &.btn1,&.btn2{
                color: #fff;
            }
        }
        &:hover{
            &.btn3,&.btn4{
                color: #3498db;
            }
        }
        &:before{
            position:absolute;
            content: "";
            width: 100%;
            height: 0;
            bottom: 0;
            left: 0;
            background:#3498db ;
            z-index: -1;
            transition: all 1s ease;
        }
        &.btn1::before,&.btn3:before{
            top: 0;
            border-radius: 0 0 50% 50%;
        }
        &.btn2::before,&.btn4:before{
            bottom: 0;
            border-radius: 50% 50% 0 0 ;
        }
        &.btn3::before,&.btn4:before{
            height: 180%;
        }
        &.btn1,&.btn2{
            &:hover{
                &:before{
                    height: 180%;
                }
            }
        }
        &.btn3,&.btn4{
            &:hover{
                &:before{
                    height: 0;
                }
            }
        }
    }
}