.toast-css{
    position: relative;
    background: #fff;
    width: 350px;
    height: 70px;
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 4px;
    top: 0px;
    left: 1000px;
    animation: sideInLeft 1s linear ,fadeOut linear 1s 3s forwards;
    + .toast-css{
        margin-top: 30px;
    }
    &.success{
        border-left: #47d664 5px solid;
        .toast-icon{
        color: #47d664;
        }
    }
    &.warning{
        border-left: #ffc122 5px solid;
        .toast-icon{
        color: #ffc122;
        }
    }
    &.error{
        border-left: #ff2528 5px solid;
        .toast-icon{
        color: #ff2528;
        }
    }
    .toast-icon{
        font-size: 28px;
        padding-left: 24px;  
    }
    .toast-body{
        flex: 1;
        .toast-body-title{
            margin: 0;
        }
        .toast-body-message{
            margin: 0;
        }
    }
    .toast-close{
        padding-right: 24px;
        font-size: 28px;
        color: #ccc;
    }

    @keyframes sideInLeft {
        from{
            opacity: 0;
            transform: translateX(calc(100% + 24px));
        }
        to 
        {
            opacity: 1;
            transform: translateX(0);
        }
    }
    @keyframes fadeOut {
        to{
            opacity: 0;
        }
    }
}